@import "tailwindcss";

@layer base {
  :root {
    @apply text-[rgba(207,207,207)] bg-[rgba(7,7,7,0.77)] font-sans;
  }

  body {
    @apply grid place-items-center min-w-[320px] min-h-screen relative m-0;
  }
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  z-index: -1;
  opacity: 0.05;
  pointer-events: none;
}
