@import "tailwindcss";

@layer base {
  :root {
    @apply text-[rgba(207,207,207)] bg-transparent font-sans w-screen h-screen;
  }

  body {
    @apply grid justify-items-center items-end w-full h-full relative mb-20;
  }
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  z-index: -1;
  opacity: 0.05;
  pointer-events: none;
}

@theme {
  /* --animate-wiggle: wiggle ease-in-out infinite; */
  @keyframes wiggle {
    0% {
      transform: translateX(-0.5ch);
    }
    5% {
      transform: translateX(0.5ch);
    }
    10% {
      transform: translateX(0);
    }
  }
}
